*{
    margin: 0;
    padding: 0;
}
@font-face { 
    font-family: "montserrat-medium";
    src: url(../assets/fonts/montserrat/Montserrat-Medium.otf);
}
@font-face {
    font-family:"montserrat-light" ;
    src: url(../assets/fonts/montserrat/Montserrat-Light.otf);
}
@font-face {
    font-family: "montserrat-extralight";
    src: url(../assets/fonts/montserrat/Montserrat-ExtraLight.otf);
}
@font-face {
    font-family: "montserrat-extrabold";
    src: url(../assets/fonts/montserrat/Montserrat-ExtraBold.otf);
}
.font__montserrat-medium{
    font-family: "montserrat-medium";
}
.font__montserrat-light{
    font-family: "montserrat-light";
}
header{
    --bs-gutter-x: 0;
}
nav, body{
    background-color: #031c55;  
}   
a:link{
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    background-color: red;
}
#logo:not(a){
    background-color: #031c55;
}
.Nav__img-logo{
    width: 60px;
    height: 60px;
}
.card-principal__fondo{
    background-image: url(../assets/img/fondo.jpg);
    width: 100%;
    height: 350px;
    --bs-gutter-x: 0;
}
  
.info-principal__cards{
    height: 300px ;
}
#info-nuestra{
    height: 52  0px;
}
.carousel-caption{
font-size: 10px;
bottom: 1px;
padding-bottom: 1px;
}
.carousel__font{
    font-size: 10px;
}
#footer{
        margin-left: calc(-.0 * var(--bs-gutter-x));
}
.footer__img{
    height: 20px;
    width: 20px;

}

@media (min-width: 992px) {
    #info-nuestra{
        height: 300px;
    }
}
