*{
    margin: 0;
    padding: 0;
}
header{
    --bs-gutter-x: 0 !important;
   
}
nav{
    background-color: #1d3557;
}   
.Nav__img-logo{
    width: 60px;
    height: 60px;
}
a:hover{
    background-color: red;
}
img:not(a){
    background-color: #1d3557;
}