header{
    --bs-gutter-x: 0 !important;
    font-family: $font-montserrat-medium;
}
nav, body{
    background-color: $color-principal;  
}
a{
&:link{
    color: $color-white;
}
&:visited{
    color: $color-white;
}
&:hover{
    background-color: $color-secundario;
}
}
#logo:not(a){
    background-color:$color-principal;
}
.Nav__img-logo{
    @include wid-hei(60px, 60px);
}