.card-principal{
    &__fondo{
        @include wid-hei(100%, 350px);
        background-image: url(../assets/img/fondo.jpg);
        --bs-gutter-x: 0;
        font-family: $font-montserrat-medium;
    }
}
.info-principal__cards{
    height: 300px ;
    h5{ font-family: $font-montserrat-medium;
    }
    p{font-family: $font-montserrat-light;
    }
}
#info-nuestra{
    h2, h5{
        font-family: $font-montserrat-medium;
    }
    p{
        font-family: $font-montserrat-light;
    }
}
.carousel{
    &-caption{
        font-size: 10px;
        bottom: 1px;
        padding-bottom: 1px;
    }
    &__font{
        font-size: 10px;
        font-family: $font-montserrat-light;
}
}
#venta-de-camisetas{
    h3{
        font-family: $font-montserrat-medium;
    }
    input, textarea{
        font-family: $font-montserrat-light;
    }
}
.form-control:not(textarea){
    height: 35px;
}
#grilla__selecciones{
    @include wid-hei(100%, 640px);
    @include gradient ($color-principal 0%, $color-terciario 50%, $color-principal 100%);
    display: grid;
    grid-template-areas: "producto-uno producto-dos"
                         "producto-tres producto-cuatro";
    grid-template-columns: 50% 50%;
    grid-template-rows: 320px 320px;
}
.productos{
    @include flex(column, none ,center);
    padding-top: 10px;
    &-uno{
        grid-area: producto-uno;
        @extend .productos;
        border-right: 1px solid $color-secundario;
    }
    &-dos{
        grid-area: producto-dos;
        @extend .productos;
    }
    &-tres{
        grid-area: producto-tres;
        @extend .productos;
        border-right: 1px solid $color-secundario;
    }
    &-cuatro{
        grid-area: producto-cuatro;
        @extend .productos;
    }
    &__img{
        @include wid-hei(220px, 250px);
    }
    &__font{
        color: $color-white;
        font-family: $font-montserrat-light;
    }   
}
.grilla__messi{
    @include wid-hei(100%, 4fr);
    h3{padding-left: 5px;}
    display: grid;
    grid-template-areas: "titulo-messi"
                         "mundial"
                         "copa-america"
                         "finalissima";
    grid-template-columns: 100% ;
    grid-template-rows: 100px 1fr 1fr 1fr;
    border-top: 1px solid $color-secundario;
    &--imgs{
        width: 100%;
    } 
}
#titulo-messi{
    @include gradient ( $color-terciario 0%, $color-principal 100%, $color-principal 100%);
    animation: titulos 2s linear 0s 1 alternate forwards;
    grid-area: titulo-messi;
    padding-top: 30px;
    color:$color-secundario;
    padding-left: 10px;
    border-bottom: 1px solid $color-secundario;
    font-family: $font-montserrat-medium;
}
#mundial{
    grid-area: mundial;
    color:$color-secundario;
    padding-top: 15px;
    font-family: $font-montserrat-medium;
    h3{animation: titulos 2.5s linear 0s 1 alternate forwards;}
}
#copa-america{
    grid-area: copa-america;
    color: $color-secundario;
    margin-top: 10px;
    font-family: $font-montserrat-medium;
}
#finalissima{
    grid-area: finalissima;
    color: $color-secundario;
    margin-top: 10px;
    font-family: $font-montserrat-medium;
}
#titulo-nosotros{
    grid-area: titulo-nosotros;
    @include flex(none, center, center);
    color: $color-secundario;
    font-family: $font-montserrat-medium;
}   
.contacto{
    font-family: $font-montserrat-light;
    grid-area: contacto;
    @include flex(none, center, none);
    &__caja{
        @include wid-hei(800px, 800px);
        @include flex(column, space-evenly, none);
        @include gradient ($color-principal 0%, $color-principal 0%, $color-terciario 100%);
        background-color: $color-principal;
        border-radius: 30px;
        border: 2px solid $color-secundario;
        &--input{
            @include wid-hei(340px, 40px);
            margin-left: 10px;
            margin-bottom: 30px;
            padding: 10px
        }
        &--texteara{
            @include wid-hei(200px, 340px);
            margin-left: 10px;
            padding: 10px;
        }
}
}