.card-principal{
    &__fondo{
        background-image: url(../assets/img/fondo.jpg);
        width: 100%;
        height: 350px;
        --bs-gutter-x: 0;
        font-family: $font-montserrat-medium;
    }
}
.info-principal__cards{
    height: 300px ;
    h5{ font-family: $font-montserrat-medium;
    }
    p{font-family: $font-montserrat-light;
    }
}
#info-nuestra{
    h2, h5{
        font-family: $font-montserrat-medium;
    }
    p{
        font-family: $font-montserrat-light;
    }
}
.carousel{
    &-caption{
        font-size: 10px;
        bottom: 1px;
        padding-bottom: 1px;
    }
    &__font{
        font-size: 10px;
        font-family: $font-montserrat-light;
}
}
#venta-de-camisetas{
    h3{
        font-family: $font-montserrat-medium;
    }
    input, textarea{
        font-family: $font-montserrat-light;
    }
}
.form-control:not(textarea){
    height: 35px;
}
#grilla__selecciones{
    width: 100%;
    height: 640px;
    display: grid;
    grid-template-areas: "producto-uno producto-dos"
                         "producto-tres producto-cuatro";
    grid-template-columns: 50% 50%;
    grid-template-rows: 320px 320px;
}
.productos{
    &-uno{
        grid-area: producto-uno;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        border-right: 1px solid $color-secundario;
    }
    &-dos{
        grid-area: producto-dos;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    &-tres{
        grid-area: producto-tres;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        border-right: 1px solid $color-secundario;
    }
    &-cuatro{
        grid-area: producto-cuatro;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    &__img{
        height: 250px;
        width: 220px;
    }
    &__font{
        color: $color-white;
        font-family: $font-montserrat-light;
    }   
}
.grilla__messi{
    width: 100%;
    height: 4fr;
    display: grid;
    grid-template-areas: "titulo-messi"
                         "mundial"
                         "copa-america"
                         "finalissima";
    grid-template-columns: 100% ;
    grid-template-rows: 100px 1fr 1fr 1fr;
    border-top: 1px solid $color-secundario;
    &--imgs{
        width: 100%;
    }
}
#titulo-messi{
    grid-area: titulo-messi;
    padding-top: 30px;
    color:$color-secundario;
    padding-left: 10px;
    border-bottom: 1px solid $color-secundario;
    font-family: $font-montserrat-medium;
}
#mundial{
    grid-area: mundial;
    color:$color-secundario;
    padding-top: 15px;
    font-family: $font-montserrat-medium;
}
#copa-america{
    grid-area: copa-america;
    color: $color-secundario;
    margin-top: 10px;
    font-family: $font-montserrat-medium;
}
#finalissima{
    grid-area: finalissima;
    color: $color-secundario;
    margin-top: 10px;
    font-family: $font-montserrat-medium;
}
#titulo-nosotros{
    grid-area: titulo-nosotros;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-secundario;
    font-family: $font-montserrat-medium;
}   
.contacto{
    font-family: $font-montserrat-light;
    grid-area: contacto;
    display: flex;
    justify-content: center;
    &__caja{
        width: 800px;
        height: 800px;
        background-color: $color-principal;
        border-radius: 30px;
        border: 2px solid $color-secundario;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* flex-wrap:wrap ; */
        /* align-content: space-around; */
        &--input{
            width: 340px;
            margin-left: 10px;
            height: 40px;
            margin-bottom: 30px;
        }
        &--texteara{
            height: 200px;
            width: 340px;
            margin-left: 10px;
        }
}
}