.card-principal{
    &__fondo{
        background-image: url(../assets/img/fondo.jpg);
        width: 100%;
        height: 350px;
        --bs-gutter-x: 0;
    }
}
.info-principal__cards{
    height: 300px ;
}
.carousel{
    &-caption{
        font-size: 10px;
        bottom: 1px;
        padding-bottom: 1px;
    }
    &__font{
        font-size: 10px;
}
}
.form-control:not(textarea){
    height: 35px;
}
#grilla__selecciones{
    width: 100%;
    height: 640px;
    display: grid;
    grid-template-areas: "producto-uno producto-dos"
                         "producto-tres producto-cuatro";
    grid-template-columns: 50% 50%;
    grid-template-rows: 320px 320px;
}
.productos{
    &-uno{
        grid-area: producto-uno;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        border-right: 1px solid red;
    }
    &-dos{
        grid-area: producto-dos;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    &-tres{
        grid-area: producto-tres;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        border-right: 1px solid $color-secundario;
    }
    &-cuatro{
        grid-area: producto-cuatro;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    &__img{
        height: 250px;
        width: 220px;
    }
    &__font{
        color: $color-white;
        font-family: "montserrat-light";
    }

}