@font-face { 
    font-family: "montserrat-medium";
    src: url(../assets/fonts/montserrat/Montserrat-Medium.otf);
}
@font-face {
    font-family:"montserrat-light" ;
    src: url(../assets/fonts/montserrat/Montserrat-Light.otf);
}
*{
    margin: 0;
    padding: 0;
}